body {
	padding: 0px;
	margin: 0px;
	color: black;
	font-size: 1em;
	font-family: 'Aller';
}

i {
	color: #56BFB4;
	padding-left: 20px;
	cursor: pointer;
}

i:hover {
	opacity: 0.6;
}

a {
	text-decoration: none;
}

h1 {
	font-family: "Marmellata (Jam)_demo";
	color: #BF2B70;
	font-size: 6em;
	margin: 0px;
}

#header {
	position: fixed;
	background-image: url(../images/black-Linen.png);
	height: 70px;
	width: 100%;
	z-index: 1;
}

h2 {
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
}

#header div {
	display: inline;
}

#header span {
	float: right;
	margin: 3px;
	padding-top: 24px;
	padding-right: 20px; 
	color: #BCBFC4;
}

#header span:hover {
	color: #BF2B70;
	cursor: pointer;
}

#footer {
	background-image: url(../images/black-Linen.png);
	width: 100%;
	color: #BCBFC4;
	padding: 30px;
}

#footer div{
	text-align: center;
}

#bottom-menu {
	padding-top: 20px;
}

#content {
	background-color: #DEDEDE;
}

#logo{
	width: 300px;
}

#otters {
	width: 250px;
}

#content div{
	display: inline-block;
}

#content_pic {
	padding: 0px;
	margin: 0px;
}

.pic_div a:hover {
	cursor: pointer;
	color: #BF2B70;
	opacity: 0.9;
}

h3 {
	font: sans-serif;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 2em;
	color: #56BFB4;
}

#icon {
	width:30px;
	height: auto;
}

.pic_div {
	text-align: center;
	padding: 0px;
	width: 70%;
	height: auto;
	display: inline-block;
	padding: 12px;
}

#projects {
	text-align: center;
	padding: ;
}

#projects span{
	padding: 0px;
	margin: 0px;
}

#right_content {
	margin-top: 80px;
	text-align: center;
}

.project_content {
	padding: 19px;
	background-image: url(../images/black-Linen.png);
	color: #BCBFC4;
	line-height: 1.5;
	text-align: center;
}

#code_link {
	color: #BCBFC4;
}

#code_link:hover {
	color: #56BFB4;
	cursor: pointer;
}

#github_icon{
	padding: 0px;
}

@media only screen and (max-width: 500px) {
	.pic_div {
		width: 100%;
	}
}









