/*###############*/
/*####GLOBAL#####*/
@font-face {
    font-family: "Al";
    src: url('./fonts/Aller_Rg.ttf') format("truetype");
}

@font-face {
    font-family: "Mar";
    src: url('./fonts/Marmellata(Jam)_demo.ttf') format("truetype");
}

body {
	background-color: #DEDEDE;
	padding: 0px;
	margin: 0px;
	color: black;
	font-size: 1em;
	font-family: 'Al';
}

table {
	padding-left: 10%;
	text-align: left;
}

table td {
	width: 200px;
}

table i {
	padding-left: 0px;
}

h1 {
	font-family: "Mar";
	color: #BF2B70;
	font-size: 6em;
	margin: 0px;
}

h2 {
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
}

h3 {
	font: sans-serif;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 2.5em;
	color: #459990;
}

i {
	color: #56BFB4;
	padding-left: 20px;
	cursor: pointer;
}

i:hover {
	opacity: 0.6;
}

a {
	text-decoration: none;
}

hr {
	margin: 20px 0 40px 0;
}


/*#################*/
/*#### Header #####*/
#header {
	position: fixed;
	background-image: url(../images/black-Linen.png);
	height: 70px;
	width: 100%;
	z-index: 1;
}


#header div {
	display: inline;
}

#header span {
	float: right;
	margin: 3px;
	padding-top: 24px;
	padding-right: 20px; 
	color: #BCBFC4;
}

#header span:hover {
	color: #BF2B70;
	cursor: pointer;
}


/*#################*/
/*#### Main Content #####*/
#content {
	padding-left: 2.5%;
}

#content div{
	display: inline-block;
	padding-top: 30px; 
	padding-bottom: 20px;
}

#content_pic {
	padding: 0px;
	margin: 0px;
}

#logo{
	width: 400px;
	padding: 10px;
}

#otters {
	width: 250px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.pic_div {
	padding: 0px;
	width: 70%;
	height: auto;
}

.pic_div a:hover {
	cursor: pointer;
	color: #BF2B70;
	opacity: 0.8;
}

#right_content {
	margin-top: 30px;
	text-align: center;
}

.project_content {
	background-image: url(../images/black-Linen.png);
	color: #BCBFC4;
	line-height: 1.5;
	text-align: center;
	padding: 20px;
	margin: 0;
}

.project_content p {
	line-height: 1.5;
}

#code_link {
	color: #BCBFC4;
}

#code_link:hover {
	color: #56BFB4;
	cursor: pointer;
}

#icon {
	width:30px;
	height: auto;
}

#github_icon{
	padding: 0px;
}


/*#######################*/
/*#### Media Queries ####*/
#footer {
	background-image: url(../images/black-Linen.png);
	width: 100%;
	color: #BCBFC4;
	padding: 40px 0 80px 0;
	padding-left: 23%;
	float: right;
}

#footer span {
	color: #BF2B70;
}


#bottom, #bottom-menu{
	text-align: center;
	width: 400px;
	line-height: 1.5;
}

#bottom-menu {
	float: left;
}

#bottom {
	float: left;	
}

#clear {
	clear: both;
}


/*#######################*/
/*#### Media Queries ####*/
@media only screen and (max-width: 500px) {
	table {
		padding-left: 5%;
	}

	#header span {
		float: none;
	}

	#header {
		padding-top: 26px;
		text-align: center;
	}

	#content{
		padding-left: 0;
	}

	.pic_div {
		width: 100%;
	}

	#footer {
		padding: 20px 0px 50px 0px;
	}
}









